name: Docker Image CI

on:
  push:
    branches: [ fun ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        docker build --label org.opencontainers.image.revision=${{github.sha}} --iidfile example.id
        docker tag    "$(cat example.id)" "ghcr.io/${{github.repository}}:latest"
        docker login  "ghcr.io" -u ${{github.repository_owner}} --password-stdin <<<"${{secrets.GHCR_TOKEN}}"
        docker push   "ghcr.io/${{github.repository}}:latest"
        docker logout "ghcr.io"
